<%- include("partials/header")%>
<link rel="stylesheet" href="stylesheets/register.css">


<div class="pg2">
    <div class="overlay">
        <%- include("partials/nav")%>
        <h1>Register Your Book</h1>
        <form action="/submit" method="post">
            <input type="text" name="author" placeholder="Author" class="author">

           <select name="country"  >
            <option value="">Select country</option>
            <% countryNames.forEach(function(c){ %>
<option value="<%= c%>"><%= c%></option>
           <% })%>
            
           </select> <br>

           <input type="text" name="image" placeholder="Image Link" class="imglink">
<!-- javascript array of all languages -->
           <select name="language" >
            <option value="">Select Language</option>
            <% languageNames.forEach(function(l){ %>
<option value="<%= l.name%>"><%= l.name%></option>
           <% })%>
           
           </select> <br>

           <input type="text" name="link" placeholder=" Google Link">
           <input type="number" name="pages" placeholder="Pages"> <br>
           <input type="text" name="title" placeholder="Title">
           <input type="text" name="Year" placeholder="Publication">
             <button>submit</button>
        </form>
    </div>
</div>

<%- include("partials/footer")%>
